@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);

ul.messages {
    list-style-type: none;
    text-align: center;
    z-index: 100;
    position: fixed;
    top: 0px;
}

.btn-custom {
    background-color: #23B099;
    color: white;
}
