Django==1.8.6
django-crispy-forms==1.6.0
django-extensions==1.6.7
djangorestframework==3.3.3
djangorestframework-jwt==1.8.0
gunicorn==19.6.0
Pillow==3.3.0
psycopg2==2.6.2
PyJWT==1.4.1
pytz==2016.6.1
qrcode==5.3
six==1.10.0
