{% extends "registration/registration_base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block title %}{% trans "Log in" %}{% endblock %}

{% block content %}

{% block top_css %}
<link href="{% static "css/index/index.css" %}" rel="stylesheet" type="text/css">
{% endblock %}

{% include "index/_navigation_bar.html" %}

<div class="container background-image">
    <div class="row">
        <div class="col-md-offset-4 col-md-4 col-sm-offset-4 col-sm-4 col-xs-offset-1 col-xs-10 registration-form">
            <h1 class="text-center">Sign in to KlokIn</h1>
            <form method="post" action="{% url "auth_login" %}">{% csrf_token %}
                <div class="form-group">
                    <label for="id_username">Username</label>
                    <input type="text" class="form-control" id="id_username" placeholder="Username" name="username" maxlength=30 required>
                </div>

                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="id_password" placeholder="Password" name="password" required>
                </div>

                <input type="submit" class="btn btn-success btn-block" value="{% trans 'Sign in' %}" />
            </form>

            <p>{% trans "Forgot your password?" %} <a href="{% url 'auth_password_reset' %}">{% trans "Reset it" %}</a>.</p>
            <p>{% trans "Not a member?" %} <a href="{% url 'registration_register' %}">{% trans "Register" %}</a>.</p>
        </div>
    </div>
</div>

<!-- section of footer -->
{% include "_footer.html" %}


{% block bottom_js %}
<script type="text/javascript "src="{% static "javascript/index/index.js" %}"></script>
{% endblock %}

{% endblock %}


{% comment %}
**registration/login.html**

It's your responsibility to provide the login form in a template called
registration/login.html by default. This template gets passed four
template context variables:

``form``
    A Form object representing the login form. See the forms
    documentation for more on Form objects.

``next``
    The URL to redirect to after successful login. This may contain a
    query string, too.

``site``
    The current Site, according to the SITE_ID setting. If you don't
    have the site framework installed, this will be set to an instance
    of RequestSite, which derives the site name and domain from the
    current HttpRequest.

``site_name``
    An alias for site.name. If you don't have the site framework
    installed, this will be set to the value of
    request.META['SERVER_NAME']. For more on sites, see The
    "sites" framework.
{% endcomment %}
