<!-- navigation row -->
<div class="container-fluid">
    <div class="row navigation">
        <div class="navbar navbar-default navbar-fixed-top">
            <div class="container">

                <div class="navbar-header">
                    <a href="{% url "index-index" %}" class="navbar-brand">KlokIn</a>
                    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>

                <div class="navbar-collapse collapse" id="navbar-main">

                    <ul class="nav navbar-nav">
                      <li><a href="{% url "index-about" %}" class="nav-item">About</a></li>
                      <li><a href="{% url "index-features" %}" class="nav-item">Features</a></li>
                      <li><a href="{% url "index-how-it-works" %}" class="nav-item">How it works</a></li>
                      <li><a href="{% url "index-contact" %}" class="nav-item">Contact</a></li>
                      <li><a href="{% url "index-faq" %}" class="nav-item">FAQ</a></li>


                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#about" class="nav-item">Download</a></li>
                        <li><a href="{% url "registration_register" %}" class="nav-item">Sign up</a></li>
                        <li><a href="{% url "auth_login" %}" class="nav-item">Sign in</a></li>
                    </ul>

                </div>
            </div>
        </div>
    </div>
</div>
