{% extends "base.html" %}
{% load staticfiles %}

{% block top_css %}
<link href="{% static "css/index/index.css" %}" rel="stylesheet" type="text/css">
<link href="{% static "css/index/about.css" %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}

{% include "index/_navigation_bar.html" %}

<!--jumbotron div -->
<div class="jumbotron">
  <div class="container">
    <h1 class="center"> Frequently asked questions </h1>
  </div>
</div> <!-- end jumbotron -->

</br>

<div class="container" id="signedin">
</br>

    <div class="row">
      <div class="col-md-4">
        <h3>I have an issue, what do I do?</h3>
        <p> We are here to help! If you may have any question or issue please <a hred=" "> contact us </a>. And we will get back to you as soon as possible.</p>
      </div>
      <div class="col-md-4">
        <h3>How much do you charge?</h3>
        <p> For a limited time only, you can download the iOS app for $0.99. This gives you unlimited access to using our product.
        </p>
      </div>
      <div class="col-md-4">
        <h3>Other than the App price, do you charge a membership?</h3>
        <p> Right now, we do not. Since we are in Beta we are not charging our customers any membership fees yet.</p>
      </div>
      <div class="col-md-4">
        <h3>How many employees can I add?</h3>
        <p>Right now, you can add as many employees as you like</p>
      </div>
        <div class="col-md-4">
          <h3>How do I track my employees attendance?</h3>
          <p>It's very easy! Sign in to your admin panel and track their attendance by Date and Time.</p>
        </div>
        <div class="col-md-4">
          <h3>I have an Android device can I use the app?</h3>
          <p>Unfortunately right now we are only offering access to iOS users.
            The Android version will be released at a later time. Consider <a href=" ">Subscribing</a> to our newsletter so we can
            keep you in the loop!
          </p>
        </div>
    </div>

</div>

<br><br><br><br>


<!-- section of footer -->
{% include "_footer.html" %}


{% endblock %}

{% block bottom_js %}
<script type="text/javascript "src="{% static "javascript/index/index.js" %}"></script>
{% endblock %}
