{% extends "base.html" %}
{% load staticfiles %}

{% block top_css %}
<link href="{% static "css/index/index.css" %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}

{% include "index/_navigation_bar.html" %}

{% if messages %}
<div id="message" class="row" data-dismiss="alert">
    <ul class="messages alert alert-success col-md-offset-4 col-md-4 col-sm-offset-4 col-sm-4">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }} <a id="close" class="close">X</a></li>
        {% endfor %}
    </ul>
</div>
{% endif %}

<div class="container-fluid landing-title top-background-image">
    <div class="row">
        <div class="main-wrapper">
            <div class="col-md-offset-1 col-md-6 col-sm-offset-1 col-sm-5 col-xs-offset-1 col-xs-10">
                <h1 class="head-line">KlokIn</h1>
                <h2 class="main-title">The most efficient way of tracking your employees attendance.</h2>
                <a class="signup btn">Watch video</a>
                <a class="signup btn">Get the app</a>
                <br>
                <br>
                <br>
            </div>

            <div class="col-md-3 col-sm-4 col-xs-offset-1 col-xs-10 signform-wrapper">
                <form method="post" action="{% url "registration_register" %}">{% csrf_token %}
                    <div class="form-group">
                        <label for="id_username">Username</label>
                        <input type="text" class="form-control" id="id_username" placeholder="Username" name="username" maxlength=30 required>
                    </div>
                    <div class="form-group">
                        <label for="id_email">Email address</label>
                        <input type="email" class="form-control" id="id_email" placeholder="Email" name="email" required>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input type="password" class="form-control" id="id_password1" placeholder="Password" name="password1" required>
                    </div>
                    <div class="form-group">
                        <label for="id_password2">Password confirmation</label>
                        <input type="password" class="form-control" id="id_password2" placeholder="Password" name="password2" required>
                    </div>
                    <button type="submit" class="btn btn-success btn-block">Sign up for KlokIn</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- <div class="container-fluid third-section">
    <div class="row">
        <div class="col-md-offset-3 col-md-6 col-sm-offset-3 col-sm-6">
            <p>
                We make it easy for you to track your employees attendance.
                Using QR codes, pir fast scanning technology and an admin panel
                tailored for your managers, you will be able to track employees
                hours on the cloud and on the go.
            </p>
        </div>
    </div>
</div> -->

<!-- section of About -->
<div class="container fourth-section">
    <div class="row text-center">

            <h1>ABOUT</h1>
            <div class="col-md-offset-3 col-md-6">
                <p>
                    We make it easy for you to track your employees attendance.
                    Using QR codes, pir fast scanning technology and an admin panel
                    tailored for your managers, you will be able to track employees
                    hours on the cloud and on the go.
                </p>
            </div>
            <div class="row">
                <div class="col-md-offset-1 col-md-4">
                    <i class="fa fa-qrcode fa-5x about-qr" aria-hidden="true"></i>
                    <p class="about-below-text">
                        QR codes serve the purpose of a bar code. Each employee
                        will use their sepecific QR codes to punch in and out.
                    </p>
                </div>
                <div class="col-md-2">
                </div>
                <div class="col-md-4">
                    <i class="fa fa-desktop fa-5x about-desktop" aria-hidden="true"></i>
                    <p class="about-below-text">
                        The admin panel is web based. This gives you access
                        whether you are on desktop or on mobile. On your Panel
                        you will be able to track attendance for every single
                        employee.
                    </p>
                </div>
            </div>

    </div>
</div>

<!-- section of features -->
<div id="features" class="container-fluid sixth-section">
    <div class="row text-center">
        <h1>AMAZING FEATURES</h1>
        <p class="lead">
            In three easy steps, schedule a mechanic. Saves you time, money,
            and energy!
        </p>
    </div>

    <div class="row text-center">
        <div class="col-md-offset-1 col-md-3 col-sm-offset-1 col-sm-3">
            <div class="left-upper">
                <div>
                    <i class="fa fa-clock-o fa-4x"></i>
                </div>
                <h3>PAPERLESS</h3>
                <p class="fadeInBlock">
                    Forget about the messy paperwork.
                    <br>
                    <br>
                </p>
            </div>
            <div class="left-lower">
                <div>
                    <i class="fa fa-credit-card fa-4x"></i>
                </div>
                <h3>FAST SCAN</h3>
                <p>
                    You employees can punch in and out in less than 3 seconds.
                </p>
            </div>
        </div>


        <img class="col-md-4 col-sm-4 col-xs-12" src="{% static "images/ipad.png" %}">


        <div class="col-md-3 col-sm-3">
            <div class="right-upper">
                <div>
                    <i class="fa fa-lock fa-4x"></i>
                </div>
                <h3>NOTIFICATIONS</h3>
                <p>
                    We notify you each time an employee checks in.
                </p>
            </div>
            <div class="right-lower">
                <div>
                    <i class="fa fa-star fa-4x"></i>
                </div>
                <h3>QUICK SUPPORT</h3>
                <p>
                    We offer quick and friendly customer support.
                </p>
            </div>
        </div>
    </div>
</div>

<!-- HOW IT WORKS -->
<div id="how-it-works" class="container how-it-work">
    <h1 class="text-center">HOW IT WORKS</h1>
    <iframe class="col-md-offset-1 col-md-10 col-sm-offset-1 col-sm-10 col-xs-12 youtube" src="https://www.youtube.com/embed/KPt2BRe5Lzg" frameborder="0" allowfullscreen></iframe>
</div>
<br>

<!-- Download and newsletter -->
<div id="newsletter" class="container">
    <div class="col-md-offset-1 col-md-5 text-center">
        <h3>DOWNLOAD THE APP</h3>
        <img src="{% static "images/AppStore.png" %}" class="appstore">
    </div>
    <div class="col-md-5">
        <h3>SIGN UP TO OUR NEWSLETTER</h3>
        <form method="post" action="{% url "index-newsletter" %}">{% csrf_token %}
            <div class="form-group">
                <input type="text" class="form-control newsletter-input" placeholder="Email" name="email" maxlength=40 required>
            </div>
            <input class="btn btn-custom" type="submit" value="Submit">
        </form>
    </div>
</div>
<br>

<!-- section of footer -->
{% include "_footer.html" %}


{% endblock %}

{% block bottom_js %}
<script type="text/javascript "src="{% static "javascript/index/index.js" %}"></script>
{% endblock %}
